.container {
  position: relative;
  border: 8px solid #808080;
  background-color: #ffffff;
  width: 1100px;
  max-height: 2000px;
  margin: 3% auto;
  border-radius: 8px;
}
body {
  background-image: url(img/brijan.gif);
}
.title {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
  position: relative;
  line-height: 25px;
  top: -14px;
  text-align: center;
}
}
main {
  position: relative;
  display: block;
  top: 50px;
  left: 0 px;
  width: 80%;
  border: 8px solid #ce8349;
}
img.rs {
  width: 20%;
  position: relative;
  bottom: 5px;
  left: 10px;
}
h2,
h1,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  text-align: center;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
}
code {
  position: relative;
  background-color: grey;
  display: block;
  border-radius: 5px;
  box-shadow: 3px 4px 10px;
  padding: 5px 5px 5px 7px;
}
code,
p,
ul,
li {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.photo {
  height: 468px;
  width: 406px;
}
section {
  position: relative;
}
p, ul,code {
  display: block;
  position: relative;
  left: 50px;
}
code{
  display: block;
  border-radius: 5px;
  box-shadow: 3px 4px 10px;
  width:400px;
  margin: auto;
}
.code{

}
.education{
  position: relative;
  top: 20px;
  margin: 100px 0px 0px 0px;
  text-align: center;
}
.education p{
  padding: 0px 0px 15px 0px;
}